[Desktop Entry]
Version=1.0
Type=Application
Name=Chromium
Comment=Browser
Exec=/opt/pibot/bin/start-chromium.sh
Icon=chromium
Terminal=false
Categories=Network;WebBrowser;
