[Desktop Entry]
Version=1.0
Type=Application
Name=Files
Comment=File Manager
Exec=thunar /config/workspace
Icon=org.xfce.thunar
Terminal=false
Categories=System;FileTools;FileManager;
